.folder {
  cursor: pointer;
  padding: 15px;
  height: fit-content;
  margin: 0 auto;
  max-width: 130px;
  position: relative;
  &__image {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 5px;
  }
  &__content {}
  &__name {
    text-align: center;
  }
}
